In [66]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [67]:
imdb = requests.get('https://www.imdb.com/search/title/?release_date=2017&sort=num_votes,desc&page=2&ref_=adv_nxt')

In [68]:
soup = BeautifulSoup(imdb.content, 'html.parser')

In [69]:
items = soup.find_all(class_='lister-item mode-advanced')

In [70]:
name = [item.h3.a.text for item in items]

In [71]:
year = [item.find(class_='lister-item-year text-muted unbold').get_text() for item in items]

In [72]:
rating = [item.find(class_='inline-block ratings-imdb-rating').strong.get_text() for item in items]

In [82]:
item = items[1]
int(item.find('span', class_ = 'metascore favorable').text)

74

In [32]:
###############################################################################
votes = [item.find('span', attrs = {'name':'nv'}).get_text() for item in items]

In [56]:
df = pd.DataFrame({'movie': name,
'year': year,
'imdb': rating,
'votes': votes
})

In [57]:
df.head()

                            movie    year imdb    votes
0                           Logan  (2017)  8.1  594,700
1                  Thor: Ragnarok  (2017)  7.9  527,624
2  Guardians of the Galaxy Vol. 2  (2017)  7.6  519,165
3        Star Wars: The Last Jedi  (2017)  7.0  515,730
4                    Wonder Woman  (2017)  7.4  513,029